html, body{
    height: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-top: 0%;
    margin-bottom: 0%;
}
h2{
    margin-top: 0%;
    margin-bottom: 0%;
}
#tudo{
    min-height: 100%;
    position: relative;
}
#cabecalho{
    z-index: 999;   
    background-color: #015cb8;
    height: 20%;
    width: 100%;   
    position:relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}
#rodape{
    background-color: white;
    position: relative;
    bottom: 0%; 
    width: 100%;    
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    justify-content: left;
}

#rodape>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
@media screen and (max-width: 660px) {
    #rodape>div{
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start;
        padding-left: 0%;
    }
}
@media screen and (max-width: 250px) {
    #rodape{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-content: center;  
        padding-left: 0%;
    }
}
.logo{  
    width: 68%;
    position: relative;
}
.botao{
    width: 100%;
    height: 50%;
    background-color: orangered;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.imgback {  
    position: relative;
    background-size: cover;
    background-image: url(https://www.cvc.com.br/imageproc/image/upload/f_auto,q_auto/v1/CVC/home/bg_motor_cvc_desktop.png);
    background-position: center center;
    padding-bottom: 3em;
}
.titrodape{
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    color: #4b4b4b;
}
.textrodape{
    margin: 0.8em;
    padding-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: #4b4b4b;
}

.textultrodape{
    margin: 0.5em;
    margin-bottom: 2em;
    padding-left: 1em;
    margin-left: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: #4b4b4b;

}
.cprodape{
    margin: 0.5em;
    padding-bottom: 1em;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    color: #4b4b4b;
}
.dec{
    text-decoration: none;
    color: #4b4b4b;
}