.cor{
    text-decoration: none;
    color: orange;
}
.t{
    color: orangered;
    font-size: 2em;
    text-align: justify;
}
.c{
    color: orange;
    font-size: 2em;
}
.g{
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-align: justify;
}
