#tabelaprim {
    height: 60%;
    width: 98%;
    padding: 0.5em;
}

#tabelasec {
    height: 32%;
    width: 98%;
    padding: 0.5em;
}

#tabelacorp {
    height: 32%;
    display: grid;
    margin-top: 10vh;
    margin-bottom: 35vh;
    margin-right: auto;
}
#tabletra{
    padding-top: 4vh;
    padding-left: 2.2em;
}
#tabletraI  {
    padding-left: 2.2em;
}
.tablogo {
    height: 12%;
    width: 9%;
}

.tabnome {
    padding-left: 2%;
    width: 75%;
    color: orange;
    text-align: justify;
    font-size: 225%;
}

.tablogin {
    color: orangered;
    text-decoration: none;
}

.tabx {
    color: orange;
    width: 25%;
    height: 40%;
}

.tabt {
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.tabelater {
    background-color: orange;
    padding: 9px;
    border-radius: 15px;
    border-style: none;
}

.tabserie {
    width: 105px;
    height: 30px;
    color: white;
}

.tabbot {
    width: 120px;
    height: 65px;
}

.tabelaterI {
    background-color: orangered;
    padding: 9px;
    border-radius: 15px;
    border-style: none;
}

/* CARD HERE */

.carda{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.4rem;
  position: relative;
  width: 31.875em;
  height: 18.5em;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}

.card {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.4rem;
    position: relative;
    width: 16.875em;
    height: 19.5em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
  }
  
  .card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    position: absolute;
    left: 0.2em;
    bottom: 0.05em;
    font-weight: 400;
    color: #4b4b4b;
  }
  
  .card .titleI {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2.5em;
      position: absolute;
      left: 0.2em;
      bottom: 1em;
      font-weight: 400;
      color: #4b4b4b;
    }
  
    .card .body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    position: absolute;
    left: 0.75em;
    bottom: 4.5em;
    font-weight: 400;
    color: grey;
  }
  
  .card .bodyI {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    position: absolute;
    left: 0.75em;
    bottom: 5.5em;
    font-weight: 400;
    color: grey;
  }
  
  .card .bodyII{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    position: absolute;
    left: 0.75em;
    bottom: 2.8em;
    font-weight: 400;
    color: grey;
  }
  
  .card .priceI {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    position: absolute;
    left: 0.58em;
    bottom: 0.35em;
    color: #4b4b4b;
  }
  
  .card .priceII {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    position: absolute;
    left: 1.3em;
    bottom: 0.14em;
    color: #4b4b4b;
  }  

/* BOTAO */
#buttn{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.fa{
    text-decoration: none;
}

.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: grid;
    border-style: none;
    text-decoration: none;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    background-color: orangered;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

  .text {
    max-width: 55px;
  }
  
  .image {
    width: 100%;
    height: 100%;
  }

  .imageI {
    max-width: inherit;
    min-height: 16.9rem;
  }

  .titulo{
    padding-left: 2.5em;
    display: flex;
    flex-wrap: wrap;
  }

  .container{
    padding-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.coluna-40 {
    min-width: 40vw;
    max-width: 40vw;
}

  .coluna-60{
    flex-wrap: wrap;
    max-width: 60%;
    display: flex;
  }
  .coluna-80{
    flex-wrap: wrap;
    max-width: 100%;
    display: flex;
  }
  .coluna-90{
    min-width: 80vw;
    max-width: 80vw;
  } 
  
  .colunaI-25{
    max-width: 40%;
  }

  .colunaII-25{
    flex-wrap: wrap;
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

  @media screen and (max-width: 485px) {
    .coluna-40{
        min-width: 100%;
      }
    
      .coluna-60{
        flex-wrap: wrap;
        max-width: 100%;
        display: flex;
      }
  }
  
  @media screen and (max-width: 485px) {
    .colunaI-25{
        min-width: 100%;
      }
    
      .colunaII-25{
        flex-wrap: wrap;
        max-width: 100%;
        display: flex;
      }
  }
  